.footer-app{
    left: 0;
    bottom: 0;
    height: 45px;
    background-color: #355267;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: flex-end;
}