.profile-sub-heading{
    color: #1976d2;
}
p{
    max-width: 800px;
    font-size: 22px;
}
.hire-me{
    display: flex !important;
    margin: 0 auto !important;
    margin-top: 60px !important;
}
.profile-wrap{
    display: flex;
}

.profile-image{
    right: 25px;
    top: 15px;
}
