a{
    text-decoration: none;
}

.resume-btn{
    display: flex !important;
    margin: 0 auto !important;
}
.App-link{
    display: flex;
}
.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}